.welcome-box {
  margin-top: 75px;
}

.home-main .components-list {
  display: flex;
  padding-left: 25px;
  position: relative;
  flex-direction: row;
  height: 400px;
}

.nav {
  background-color: rgb(246, 254, 255);
  max-width: 25%;
  min-width: 140px;
  flex: 1;
  font-family: 'Trebuchet MS', 'Helvetica';
}

.main-container {
  display: flex;
  font-family: 'Trebuchet MS', 'Helvetica';
  font-size: 16px;
}

.main-container .content {
  height: 100%;
  position: relative;
}

.home-main {
  padding: 50px 50px;
  background: white;
  height: 100%;
  position: relative;
}

.home-main .welcome-text {
  text-align: center;
  padding: 50px;
}

.home-main .welcome-text h1 {
  color: #1b314b;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.33px;
  line-height: 38px;
  text-align: center;
}

.home-main .button-style {
  padding: 14px 20px;
  border-radius: 24px;
  border: 1px solid #4d54b4;
  background: initial;
  border-radius: 24px;
  width: 100%;
  color: #4d54b4;
}

.home-main .button-style.default {
  padding: 14px 20px;
  background-color: #4d54b4;
  border-radius: 24px;
  width: 100%;
  color: #ffffff;
}

.home-main .home-sub-containers {
  background-color: #f7f6fb;
  border: 1px solid #dadce0;
  border-radius: 18px;
  box-shadow: 0 1px 3px 0 #d7d7e0;
  padding: 10px;
  height: 100%;
  width: 100%;
}

.sub-container-heading {
  border: none;
  font-size: 22px;
  margin: 5px 5px 5px 20px;
  text-align: left;
}

.home-main .sub-container-message {
  font-size: 1rem;
  margin: 5%;
  height: 100%;
}

.home-main .spacer {
  height: 100%;
  flex: 1 1 auto;
  margin: 25px;
  position: relative;
}

h4 p {
  text-align: left;
}

.home-main #cont-size {
  height: 10%;
  position: relative;
  top: 35%;
  color: #637381;
}

.home-sub-containers hr {
  margin-left: -10px;
  margin-right: -10px;
}

.home-main #cont-size h1 {
  color: #001429;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.27px;
  line-height: 29px;
  text-align: left;
}

.home-main #cont-sized button:focus {
  outline: none;
}

.home-main #cont-size h4 {
  color: #637381;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 22px;
}

.home-main #cont-sized {
  top: 50%;
  background: initial;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .home-main {
    height: auto;
  }
  .home-main .components-list {
    flex-direction: column;
    height: auto;
    padding: 0;
  }
  .home-main .spacer img {
    left: 40% !important;
  }
  .home-main .spacer {
    width: 100%;
    height: 400px;
    margin: 60px 20px;
  }
}

img#womanchild1 {
  position: absolute;
  top: -21.5%;
  left: 36%;
}

img#womanchild2 {
  position: absolute;
  top: -22.4%;
  left: 40%;
}

img#womanchild3 {
  position: absolute;
  top: -20.4%;
  left: 35%;
}
