.card {
  background-color: #ffffff;
  border: 1px solid #dadce0;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 #d7d7e0;
}

h2#patients_title {
  border-left: 0.2em solid #0093db;
  padding-left: 15px;
  margin-bottom: 20px;
}

div#titleDiv {
  border-bottom: 1px solid #dadce0;
  margin-top: 1%;
}

.back-page,
.patient-details .back-page:hover {
  color: #0292d3;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

.patient-details #dropdown-basic:focus {
  background-color: initial;
  color: #333;
}

.back-page > span {
  padding-left: 15px;
}

.patient-details a .fa-xs {
  font-size: 17px;
  margin-right: 15px;
}

.patient-details {
  padding-top: 1%;
}
