.side-nav-item {
  color: #3a484f;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

.side-nav-active {
  background: rgba(1, 146, 212, 0.1);
  color: #0192d4 !important;
  font-weight: 500;
  text-align: left;
}

.side-menu-extend {
  margin: 0;
  padding: 16px 0 0 0;
}

.main-container .hidden-container {
  display: none !important;
}

.side-menu-extend ul.nav {
  background: initial;
  background-color: initial;
  max-width: initial;
  width: 100%;
}

.main-container .sidebar {
  width: 300px;
}

.sidebar .side-menu-extend a:hover {
  text-decoration: none;
  color: #0192d4;
}

.sidebar .side-menu-container {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1 1;
  border: 1px;
  border-right-style: solid;
  border-right-color: #dfe3e8;
  background: #f8fafe;
}

.sidebar .side-menu-container .row {
  margin: auto;
}

.side-menu-container .side-menu-extend ul.side-collapse-nav .collapse {
  padding-right: initial;
  padding-left: 33px;
}
