.dataItem {
  border: 1px solid black;
  width: 20em;
}

.detailsColumn {
  padding: 0;
  display: grid;
  grid-template-columns: 10fr 1fr 10fr;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.row {
  margin: auto;
}

#detailsRow {
  width: 84%;
}

#detailsCard {
  width: 100%;
}
