.dataItem {
  border: 1px solid black;
  width: 20em;
}

.detailsColumn {
  padding: 60px;
  display: grid;
  grid-template-columns: 10fr 1fr 10fr;
}

.detailsColumn:nth-child(1) {
  grid-template-columns: 4fr 1fr 10fr;
}

.detailsColumn:nth-child(2) {
  grid-template-columns: 10fr 1fr 4fr;
}

.right {
  text-align: right;
  color: #637381;
}

.left {
  text-align: left;
  color: #001429;
}

.row {
  margin: auto;
}

#detailsRow {
  width: 100%;
  padding: 30px 0;
}

#detailsCard {
  width: 100%;
}

#detailsCard .row {
  margin: 0 !important;
}

.card-title {
  background-color: #ffffff;
  border: 1px solid #dadce0;
  color: #3a484f;
  font-family: Roboto;
  font-size: 1.636em;
  font-weight: 500;
  letter-spacing: -0.018em;
  line-height: 2em;
  text-align: left;
  padding: 0.5em;
}
