.dataItem {
  border: 1px solid black;
  width: 20em;
}

.detailsColumn {
  padding: 60px;
  display: grid;
  grid-template-columns: 10fr 1fr 10fr;
}

.detailsColumn:nth-child(1) {
  grid-template-columns: 4fr 1fr 10fr;
}

.detailsColumn:nth-child(2) {
  grid-template-columns: 10fr 1fr 4fr;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.row {
  margin: auto;
}

#detailsRow {
  width: 100%;
  padding: 30px 0;
}

#detailsCard {
  width: 100%;
}

#detailsCard .row {
  margin: 0 !important;
}
