
.field-row {
    margin-bottom: 10px
}

.input-field, .basic-single .select__control {
    border: 1px solid #DADCE0;
  border-radius: 2px;
  width: 404px;
  height: 48px;
}

.basic-single .select__control {
    box-shadow: none;
}

.form-background {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 #D7D7E0;
    width: 1050px;
    height: 569px;
    padding: 45px;
}