.table {
  border: 1px outset #f2f2f2;
}

.table-shadow {
  box-shadow: 1px 2px #c9c9c9;
}

th .form-control {
  border: none;
  font: inherit;
}

.filter-row {
  margin-bottom: 20px;
}

.client-page {
  font-size: 14px;
}

.basic-single {
  box-shadow: 0 1px 3px #d7d7e0;
}

.client-dropdown-search-bar {
  width: 80%;
}

.react-table thead tr:first-child {
  display: none;
}