thead {
  width: 100%;
  position: absolute;
  display: table;
}

tbody {
  display: table;
  width: 100%;
}

thead tr {
  border-bottom: 0;
}

tbody tr {
  align-items: center;
  /* display: flex; */
}

td {
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  font-size: 10;
}

.table-container {
  font-size: 11px;
  height: 500px;
  box-shadow: 0 2px 4px 0 #d7d7e0;
  display: block;
}

.table-container table tbody tr td:first-child {
  overflow-wrap: break-word;
}

.table-container table {
  border: none !important;
  background: #fff;
  height: 100%;
}

.filter-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.logface-content .filter-panel .filters {
  display: flex;
  justify-content: flex-start;
  flex-grow: 2;
  padding: 0px 0px 10px;
}

.logface-content .filter-panel .filters .location-type-filter {
  display: block;
  padding: 10px 20px;
}

.form-group {
  vertical-align: bottom;
}

.form-control {
  margin-top: 2%;
  width: auto;
}

#searchbox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

#logface_title {
  padding: 0px 15px;
  border-left: 5px solid #0093db;
  color: #001429;
  font-family: Roboto;
  font-size: 28px;
  letter-spacing: -0.18px;
  line-height: 34px;
  margin-top: 24px;
}

.logface-content .table-container table .badge-warning {
  color: #fff;
}

.logface-content {
  padding-left: 24px;
  padding-right: 48px;
}

#header {
  position: relative;
  top: 0;
  height: 50px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.table-container table #body {
  overflow: auto;
  height: 100%;
}

.table-container table #body > tr td:nth-child(8) {
  width: 26%;
  height: 20%;
}

.large-width {
  width: 26%;
}

.default-width {
  width: 12%;
}

.small-width {
  width: 7%;
}

.paginator {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff !important;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(117, 117, 117, 0.05) !important;
}

#export-button {
  align-self: center;
  margin-left: auto;
  margin-top: 1rem;
  background: #0093db;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  padding: 5px 15px;
  font-family: Roboto;
  font-size: 14px;
}

#export-button:hover {
  background: #0189cb;
}

.filters .location-type-filter .dropdown button {
  background-color: #ffffff;
  border: 0.5px solid #bababa;
  border-radius: 2px;
  box-shadow: 0 1px 3px 1px rgba(127, 131, 155, 0.15), 0 1px 2px 0 rgba(127, 131, 155, 0.3);
  height: 40px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
}

.filters .location-type-filter .dropdown button {
  color: #676767;
}

.filters .location-type-filter .dropdown button:focus {
  background-color: inherit;
}

.dropdown button span {
  padding-right: 35px;
  color: #666666;
  font-size: 13px;
  font-weight: 500;
}

.filters .location-type-filter span {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  opacity: 0.8;
}

.filter-panel input.logface-search {
  border-radius: 0;
  margin-top: 35px;
  width: 25%;
  background: url(/static/media/search-icon.51c97554.svg) no-repeat;
  background-position: 16px 50%;
  padding-left: 40px;
  background-color: white;
}

.filter-panel input.logface-search:focus {
  box-shadow: 0 1px 3px 1px rgba(127, 131, 155, 0.15), 0 1px 2px 0 rgba(127, 131, 155, 0.3);
}

.filter-panel input.logface-search::placeholder {
  color: #c2c2c2;
  font-family: Roboto;
  font-size: 14px;
}

.btn-secondary {
  color: #676767;
  border: 0.5px solid #bababa;
  box-shadow: #7f839b;
  background-color: #fff;
}

#next,
#previous {
  background: #0093db;
  color: #fff;
  border-radius: 2px;
  width: 120px;
  height: 32px;
}
