.patient-details tbody tr {
  display: table-row;
}

.patient-details #tableRow {
  margin: 10px 0px 50px 0;
  background-color: #ffffff;
  border: 1px solid #dadce0;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 #d7d7e0;
}

.patient-details #dropdownRow {
  width: 100%;
}

.patient-details .dropdown button span {
  color: #676767;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.patient-details #dropdown {
  background-color: #ffffff;
  color: #666666;
  border: 0.5px solid #bababa;
  border-radius: 2px;
  box-shadow: 0 1px 3px 1px rgba(127, 131, 155, 0.15), 0 1px 2px 0 rgba(127, 131, 155, 0.3);
}

.patient-details .table-container thead tr th:not(:first-child) {
  border-left: 1px solid #e8e8e8;
}

.patient-details .filter-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.patient-details .filter-panel .filters {
  display: flex;
  justify-content: flex-start;
  margin-left: 3%;
  flex-grow: 2;
  padding: 0 0 20px;
}

.patient-details thead {
  position: relative;
  top: 0;
  height: 70px;
}

.patient-details td {
  width: 25%;
  border: 1px solid #e8e8e8;
}

.patient-details .table-container {
  width: 100%;
  box-shadow: initial;
  height: auto;
}

.patient-details td:nth-child(2n) {
  background-color: #fcfcfc;
}

.patient-details td:nth-child(2n + 1) {
  background-color: #ffffff;
}

.patient-details th:nth-child(2n) {
  background-color: #f5f5f5;
}

.patient-details th:nth-child(2n + 1) {
  background-color: #fafafa;
}

.patient-details #dropdownRow > p {
  color: #001429;
}

.patient-details #dropdown-basic {
  padding-top: 0;
  margin-top: -0.2rem;
  height: 40px;
}

.patient-details #dropdown-basic.dropdown.dropdown-toggle,
.patient-details #dropdown-basic:hover {
  color: #666666;
  box-shadow: none;
  color: black;
  background-color: #ffffff;
  border: 0.5px solid #bababa;
  border-radius: 2px;
  box-shadow: 0 1px 3px 1px rgba(127, 131, 155, 0.15), 0 1px 2px 0 rgba(127, 131, 155, 0.3);
}

.patient-details th {
  color: #001429;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.18px;
  line-height: 19px;
  text-align: left;
  padding-left: 20px;
}

.patient-details td {
  color: #334354;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  padding: 20px;
}
