.analysis {
  width: 100%;
  height: 85vh;
}

.analysis .analysis-iframe {
  position: relative;
  top: 20px;
  left: 0px;
  width: 100%;
  height: 80vh;
}

.analysis .analysis-title {
  margin-left: 24px;
}
