.navbar-brand img {
  max-height: 30px;
  position: relative;
  top: -8px;
}

.bg-light {
  background-color: #f7f7f9 !important;
}

.reveal-breadcrumb {
  margin-top: 15px;
}

.reveal-breadcrumb .breadcrumb {
  background-color: #eceeef;
}

#sidenav {
  overflow: auto;
  position: relative;
  padding: 10px 20px;
  top: 100;
  width: 100%;
  height: 100%;
  flex: 1;
  border: 1px;
  border-right-style: solid;
  border-right-color: rgba(0, 0, 0, 0.2);
}

.mr-auto {
  flex: 1;
}

#link-font {
  font-weight: bold;
  color: #3093c5;
}

.navbar-inverse {
  color: #a1d3ec;
}

/* .sidenav{
    box-sizing: border-box;
    background-color: rgb(238, 250, 255);
    overflow: auto;
    padding: 18px 50px;
    position: relative;
    top: 100;
    width: 100%;
    height: 100%;
    flex: 1;
  }
   */
