.search-input-wrapper {
    position: relative;
    max-width: 300px;
    top: 4px;
    display: inline-block;
    margin-right: 20px;
}

.jumbotron {
    text-align: center;
}

.cancel-icon {
    border-radius: 50%;
    color: red;
    border: 1.5px solid red;
    text-decoration: none !important;
}
