#image-settings {
  width: 15%;
  height: 100%;
}

.main-app-container .main-container .sidebar {
  position: relative;
}

.navbar {
  padding: 0;
  background-color: rgb(0, 36, 68);
  height: 7vh;
}

.collapse {
  padding-right: 20px;
}

.nav-link {
  color: white;
  padding: 5px;
}

.main-app-container .navbar .navbar-collapse ul li.dropdown a:hover {
  color: #ffffff;
}

.main-app-container .navbar .navbar-collapse ul li.dropdown button a {
  color: #666666;
}

.main-app-container .navbar .navbar-collapse ul li.dropdown button a:hover {
  color: #666666 !important;
}

.bg-navbar {
  background: #2b475e !important;
  box-shadow: 0 1px 12px 0 rgba(195, 203, 222, 0.59);
  padding: 0;
}

.bg-top-nav {
  background: #233f56;
  /* box-shadow: 0 1px 12px 0 rgba(195, 203, 222, 0.59); */
  text-align: center;
}

.account-text {
  justify-content: center;
  color: #ffffff;
}

.account-text:hover {
  color: #d7d7e0;
}
.bg-dropdown-text {
  justify-content: center;
  text-align: center;
  font-family: roboto;
  color: #233f56;
}

.center-account-text {
  justify-content: center;
  font-family: roboto;
}
