.container-fluid {
  padding: 0;
  background: #00aeef;
  min-width: 100em;
}
body {
  margin: 0;
}
.child {
  max-width: 120%;
  height: 100vh;
}
div[class='col-6'] {
  padding: 0;
  overflow: hidden;
}
.col-6 .row {
  height: 100vh;
}
.center {
  background: white;
  border-radius: 1%;
  border: 2px solid #dadce0;
  margin: auto;
  width: 70%;
  height: auto;
  position: relative;
  top: 25%;
}
.logo {
  top: 7%;
  margin: auto;
  width: 70%;
  position: relative;
}
.center h1 {
  width: 90%;
  color: #1b314b;
  font-size: 40px;
  margin: auto;
  margin-top: 7%;
}
.center p {
  width: 90%;
  margin: auto;
}
input {
  display: block;
  width: 90%;
}
.MuiFormControl-root {
  display: block !important;
  margin: 0 !important;
  margin: 5% 0 5% 0 !important;
}
.MuiInputBase-root {
  width: 100%;
}
form {
  width: 90%;
  margin: auto !important;
}

.unicef {
  float: right;
  width: 30%;
}

.moh {
  float: right;
  width: 12%;
}

.forgot-password {
  color: #1cabe2 !important;
}

button {
  margin: 5% 0 5% 0 !important;
  background-color: #1cabe2 !important;
  margin-bottom: 11% !important;
}

row {
  margin: auto;
}
