.patient-details tbody tr {
  display: table-row;
}

.patient-details #tableRow {
  margin: 10px 0px 50px 0;
  background-color: #ffffff;
  border: 1px solid #dadce0;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 #d7d7e0;
}

.patient-details #dropdownRow {
  width: 100%;
}

.patient-details #dropdown {
  background-color: #ffffff;
  color: #666666;
  border: 0.5px solid #bababa;
  border-radius: 2px;
  box-shadow: 0 1px 3px 1px rgba(127, 131, 155, 0.15), 0 1px 2px 0 rgba(127, 131, 155, 0.3);
}

.patient-details thead {
  position: relative;
  top: 0;
  height: 50px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.patient-details td {
  width: 25%;
}

.patient-details .table-container {
  width: 100%;
}

.patient-details td:nth-child(2n) {
  background-color: #fcfcfc;
  border: 1px solid #e8e8e8;
}

.patient-details td:nth-child(2n + 1) {
  background-color: #ffffff;
  border: 1px solid #dadce0;
}

.patient-details th:nth-child(2n) {
  background-color: #f5f5f5;
  border: 1px solid #e8e8e8;
}

.patient-details th:nth-child(2n + 1) {
  background-color: #fafafa;
  border: 1px solid #dadce0;
}

.patient-details #dropdownRow > p {
  color: #001429;
}

.patient-details #dropdown-basic {
  padding-top: 0;
  margin-top: -0.2em;
}

.patient-details #dropdown-basic.dropdown.dropdown-toggle,
.patient-details #dropdown-basic:hover {
  color: #666666;
  box-shadow: none;
  color: black;
  background-color: #ffffff;
  border: 0.5px solid #bababa;
  border-radius: 2px;
  box-shadow: 0 1px 3px 1px rgba(127, 131, 155, 0.15), 0 1px 2px 0 rgba(127, 131, 155, 0.3);
}

.patient-details th {
  color: #001429;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.18px;
  line-height: 19px;
  width: 50.52px;
  text-align: left;
  padding-left: 0.5em;
}

.patient-details td {
  color: #334354;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}
