tbody tr {
  display: table-row;
}

#tableRow {
  width: 84%;
  background-color: #ffffff;
  border: 1px solid #dadce0;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 #d7d7e0;
}

#dropdownRow {
  width: 84%;
}

thead {
  position: relative;
  top: 0;
  height: 50px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

td {
  width: 25%;
}

.table-container {
  width: 100%;
}
