h2#compartment_title {
  border-left: 0.2em solid #0093db;
  padding-left: 15px;
  margin-bottom: 20px;
}

#breadcrumb {
  color: #0292d3;
}

.breadcrumb-row.row,
.cards-row {
  padding-left: 1.5em;
}
