h2#compartment_title {
  border-left: 0.2em solid #0093db;
  padding-left: 15px;
  margin-bottom: 20px;
}

.compartment-wrapper #breadcrumb {
  color: #0292d3;
}

.compartment-wrapper .breadcrumb-row.row {
  padding-left: 1.5rem;
}

.compartment-wrapper span#breadcrumb-span {
  color: #637381;
}
