.welcome-box {
  margin-top: 75px;
}

.module-home-main .components-list {
  display: flex;
  height: 40vh;
  padding-left: 25px;
}

.nav {
  background-color: rgb(246, 254, 255);
  max-width: 25%;
  min-width: 140px;
  flex: 1;
  font-family: 'Trebuchet MS', 'Helvetica';
}

.main-container {
  display: flex;
  font-family: 'Trebuchet MS', 'Helvetica';
  font-size: 16px;
}

.module-home-main {
  padding: 50px 50px;
}

.module-home-main .welcome-text {
  text-align: left;
  padding: 50px;
}

.button-style {
  padding: 14px 20px;
  border: 1px solid rgb(55, 175, 255);
  width: 100%;
  color: #ffffff;
  background: #0093db;
}

.home-sub-containers {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  height: 100%;
  width: 100%;
}

.sub-container-heading {
  border: none;
  font-size: 22px;
  margin: 5px 5px 5px 20px;
  text-align: left;
}

.sub-container-message {
  font-size: 1rem;
  margin: 5%;
  height: 84%;
}

.spacer {
  height: 300px;
  width: 33.3%;
  margin: 25px;
}

h4 p {
  text-align: left;
}

#cont-size {
  height: 50%;
  color: #637381;
}

.home-sub-containers hr {
  margin-left: -10px;
  margin-right: -10px;
}

#cont-sized {
  top: 15px;
  background: #0093db;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .module-home-main .components-list {
    height: auto;
    flex-direction: column;
    padding: 0;
  }
  .module-home-main .components-list .spacer {
    width: 100%;
    height: 350px;
  }
}

button.button-style.deactivated {
  background: white;
  color: rgba(55, 168, 255, 1);
}
